@keyframes flash {
  0%,
  95%,
  98% {
    background-color: black;
  }
  96%,
  99%,
  100% {
    background-color: white;
  }
}

@keyframes move-ears {
  from {
    top: 0;
  }
  to {
    top: 25px;
  }
}
@keyframes glow {
  0% {
    opacity: 0.8;
    width: 120px;
    height: 50px;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 120px;
    height: 60px;
  }
  52% {
    opacity: 1;
    width: 120px;
    height: 60px;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes change-color-whisker {
  0%,
  95%,
  98% {
    border: solid 3px black;
    border-color: black transparent transparent transparent;
  }
  96%,
  99%,
  100% {
    border: solid 3px grey;
    border-color: grey transparent transparent transparent;
  }
}
@keyframes change-color-nose {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}
body {
  background-color: white;
  animation: flash linear 5s infinite;
}

.cat {
  width: 480px;
  margin: 20px auto;
}

.head {
  width: 400px;
  height: 370px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
}

.ears {
  height: 65px;
  position: relative;
  left: 35px;
  animation: move-ears 2s infinite alternate-reverse;
}
.ear {
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 160px solid black;
  float: left;
  margin-right: 60px;
}
.right-ear {
  transform: rotate(35deg);
}

.left-ear {
  transform: rotate(-35deg);
}
.eyes {
  clear: both;
  width: 350px;
  position: relative;
  top: 25px;
  left: 53px;
}
.eye {
  width: 120px;
  height: 120px;
  background-color: red;
  box-shadow: 0px 0px 20px red;
  float: left;
  border-radius: 5% 75% 0 100%;

  transform: rotate(-35deg);
  animation: glow 5s linear infinite;
}

.eye-left {
  margin-right: 60px;
  border-radius: 75% 5% 100% 0;
  transform: rotate(35deg);
}
.nose {
  width: 45px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 160px;
  left: 170px;
  animation: change-color-nose 5s ease-in-out infinite;
}
.whiskers-right {
  position: relative;
  left: -100px;
  top: 85px;
  transform: rotate(10deg);
}
.whiskers-left {
  position: relative;
  left: 223px;
  top: 96px;
  transform: rotate(-10deg);
}
.whisker {
  width: 260px;
  height: 5px;
  border: solid 3px black;
  border-color: black transparent transparent transparent;
  border-radius: 60%/30px 30px 0 0;
  animation: change-color-whisker 5s ease-in-out infinite;
}
