@keyframes flash {
  0%,
  90%,
  98% {
    background-color: black;
  }
  95%,
  96%,
  99%,
  100% {
    background-color: white;
  }
}

@keyframes move-ears {
  from {
    top: 0;
  }
  to {
    top: 25px;
  }
}
@keyframes glow {
  0%,
  95%,
  98% {
    opacity: 0.8;
    width: 120px;
    height: 50px;
  }
  96%,
  98%,
  100% {
    opacity: 1;
    width: 120px;
    height: 120px;
  }
}

@keyframes change-color-scratch {
  0%,
  90%,
  98% {
    border: solid 3px black;
    border-color: black transparent transparent transparent;
  }
  96%,
  99%,
  100% {
    border: solid 3px red;
    border-color: red transparent transparent transparent;
  }
}

body {
  background-color: white;
  animation: flash linear 5s infinite;
}

.cat {
  width: 480px;
  margin: 20px auto;
}

.head {
  width: 400px;
  height: 370px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
}

.ears {
  height: 65px;
  position: relative;
  left: 35px;
  animation: move-ears 1s infinite alternate-reverse;
}
.ear {
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 160px solid black;
  float: left;
  margin-right: 60px;
}
.right-ear {
  transform: rotate(35deg);
}

.left-ear {
  transform: rotate(-35deg);
}
.eyes {
  clear: both;
  width: 350px;
  position: relative;
  top: 25px;
  left: 53px;
}
.eye {
  width: 120px;
  height: 120px;
  background-color: red;
  box-shadow: 0px 0px 20px red;
  float: left;
  border-radius: 5% 75% 0 100%;

  transform: rotate(-35deg);
  animation: glow 5s linear infinite;
}

.eye-left {
  margin-right: 60px;
  border-radius: 75% 5% 100% 0;
  transform: rotate(35deg);
}
.nose {
  width: 45px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 160px;
  left: 170px;
}
.whiskers-right {
  position: relative;
  left: -100px;
  top: 85px;
  transform: rotate(10deg);
}
.whiskers-left {
  position: relative;
  left: 223px;
  top: 96px;
  transform: rotate(-10deg);
}
.whisker {
  width: 240px;
  height: 5px;
  border: solid 3px black;
  border-color: black transparent transparent transparent;
  border-radius: 60%/30px 30px 0 0;
}
.scratches-right {
  position: relative;
  left: -200px;
  top: 150px;
  transform: rotate(65deg);
}
.scratches-left {
  position: relative;
  left: 330px;
  bottom: 10px;
  transform: rotate(-75deg);
}
.scratch {
  width: 400px;
  height: 10px;
  border: solid 3px black;
  border-color: black transparent transparent transparent;
  border-radius: 60%/30px 30px 0 0;
  animation: change-color-scratch 5s linear infinite;
}
